html {
    width: 100%;
    height: 100%;
    min-height: 100%;
   
}

body {
     background-image: url(https://static.pexels.com/photos/3305/numbers-money-calculating-calculation.jpg);
     background-size: 100%;
     font-family: "Ubuntu", sans-serif;

}


.header {
    background-color:#2f208b;
    height: 75px;
    text-align: center;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 36px;
  
}


.headTitle {
    margin-top: 50px;
    font-size: 36px;
    
}

.main-container {
    height: 100%;
    min-height: 700px;
    min-width: 750px;
    width: 80%;
    max-width: 1100px;
    opacity: 0.9;
    background-color: #f0dfdf;
    margin: 10px auto 0 auto;
    position: relative;
    border-radius: 10px;
    overflow-x:hidden;

}

input {
    margin: 10px;
    border: 1px solid black;
}

.removeButton {
    margin-left: 20px; 
}

.totalAmt {
    width: 150px;
}

ul {
    margin-top: 10px;
    float:left;
    
}

li {
    margin-top: 5px;
}

.list-of-stuff {
    margin-left: 20px;
}

form {
    margin: 10px;
    
}

.nav-pills {
    background-color:#2f208b;
    height: 700px;
    min-height: 1vh;
    width: 250px;
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
}

hr {
    height: 5px;
    background-color:white;
}

.remainingBal {
    margin-left: 20px;
}

.doneButton {
    position: absolute;
    right:35px;
    top:15px;
    padding: 10px;
    
}

.totalsSpan {
    position: absolute;
    bottom: 0;
    right: 25%;
    left: 30%;

}



.totalCashSpan {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
    
}

.billInput {
    width: 40px;
    margin: 0;
    height: 25px;
}

.summaryPar {
    width: 400px;
    display:block;
    margin: 0 auto;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.summaryPar2 {
    width: 400px;
    display:block;
    margin: 20px auto 0 auto;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    
}

.btn-success {
    display: block;
    width: 250px;
    margin: 0 auto 10px auto;
}

.saveBtn {
    display:block;
    width: 250px;
    margin: 0 auto;
    
}

.main-contain-summary {
    padding-top: 50px;
}

img {
    height: 70px;
    width: 70px;
    margin-left: 30px;
}

p {
    
    padding: 20px;
}

.bills-wrapper {
    
    padding: 5px;
    
}

.alertMsg {
    display:block;
    width: 500px;
    margin: 10px auto 0 auto;
    
}

.init-env-table {
    margin: 10px;
}

.panel-heading {
    
    text-align:center;
    font-weight: bold;
}

.firstAlertBlue {
    
    display:block;
    width: 500px;
    margin: 10px auto 0 auto;
}

.dateSpan {
    
    position:absolute;
    right: 5px;
    top: 5px;
}