<div class= "bills-wrapper" ng-controller="makeBillsCtrl">
  <div class="totalCashSpan">
   <span class="cashTotes">Total cash to budget:  {{cashTotal | currency}}  </span>
          

  </div>

  <!--  <li ng-repeat="cashEnv in allCashEnvelopes">
    
        {{cashEnv.name}} -- {{cashEnv.amount}}
            <li ng-repeat="billOpt in billOptions">
                {{billOpt}}'s
                <select>
                    <option ng-repeat="num in numBills">
                        {{num}}
        
        
                </select>
    
            </li>
    </li>
-->








<div class="bs-example">
    <div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Bill Selector</div>

		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Envelope</th>
					<th>100's</th>
					<th>50's</th>
					<th>20's</th>
                    <th>10's</th>
                    <th>5's</th>
                    <th>1's</th>
                    <th>Amt. left</th>
                    <th>Done</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cashEnv in allCashEnvelopes">
					<td>{{cashEnv.name}}</td>
					<td><input class="billInput form-control"  ng-model="hundreds" ng-init="hundreds=0"  /></td>
					<td><input class="billInput form-control"  ng-model="fifties" ng-init="fifties=0" /></td>
					<td><input class="billInput form-control"  ng-model="twenties" ng-init="twenties=0" /></td>
                    <td><input class="billInput form-control"  ng-model="tens" ng-init="tens=0" /></td>
                    <td><input class="billInput form-control"  ng-model="fives" ng-init="fives=0" /></td>
                    <td><input class="billInput form-control"  ng-model="ones" ng-init="ones=0" /></td>
                    <td ng-model="amtLeft">{{(cashEnv.amount - (hundreds*100) - (fifties*50) - (twenties*20) - (tens*10) - (fives*5) - ones) | currency}} </td>
                    <td> <span class="glyphicon glyphicon-ok" ng-show="{{(cashEnv.amount - (hundreds*100) - (fifties*50) - (twenties*20) - (tens*10) - (fives*5) - ones) == 0}}" >{{(cashEnv.amount - (hundreds*100) - (fifties*50) - (twenties*20) - (tens*10) - (fives*5) - ones) == 0}}</span></td> 
                    
                         <!-- <span class="remainingBal">Remaining balance: {{(totes - sumOfCurrBudget) | currency}}</span> -->


				</tr>
			</tbody> 
		</table>
	</div>
</div>







































</div>