<div class= "bills-wrapper" ng-controller="makeBillsCtrl">
  <div class="totalCashSpan">
   <span class="cashTotes">Total cash to budget:  {{cashTotal | currency}}  </span>
          

  </div>

<div class="env-table">
    <div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Bill Selector</div>

		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Envelope</th>
					<th>100's</th>
					<th>50's</th>
					<th>20's</th>
                    <th>10's</th>
                    <th>5's</th>
                    <th>1's</th>
                    <th>Amt. left</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cashEnv in allCashEnvelopes">
					<td>{{cashEnv.name}}</td>
					<td><input class="billInput form-control"  ng-model="cashEnv.hundreds" ng-init="cashEnv.hundreds=0"  /></td>
					<td><input class="billInput form-control"  ng-model="cashEnv.fifties" ng-init="cashEnv.fifties=0" /></td>
					<td><input class="billInput form-control"  ng-model="cashEnv.twenties" ng-init="cashEnv.twenties=0" /></td>
                    <td><input class="billInput form-control"  ng-model="cashEnv.tens" ng-init="cashEnv.tens=0" /></td>
                    <td><input class="billInput form-control"  ng-model="cashEnv.fives" ng-init="cashEnv.fives=0" /></td>
                    <td><input class="billInput form-control"  ng-model="cashEnv.ones" ng-init="cashEnv.ones=0" /></td>
                    <td ng-model="cashEnv.amtLeft" >{{(cashEnv.amount - (cashEnv.hundreds*100) - (cashEnv.fifties*50) - (cashEnv.twenties*20) - (cashEnv.tens*10) - (cashEnv.fives*5) - cashEnv.ones) | currency}} </td>

				</tr>
			</tbody> 
		</table>
	</div>
</div>
    
    
    
    <!-- ***add an ng-disabled*** -->
    <button class="btn btn-primary saveBtn" ng-click="grabTotals(); showme=true">Save</button>

    <div class="alert alert-success alertMsg" ng-show="showme"><strong>Nice!</strong> Your bills have been saved. Go ahead and click <strong>"Summary"</strong> on the left menu for your final results.</div>


</div>